body {
    background-clip: black;
}
.githubWrapper {
    background-color: white;
    margin: auto;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 150px;
    padding: 25px;
    border-radius: 20px;
    overflow:auto;
    border: 4px solid black;
}